@import url('https://fonts.googleapis.com/css2?family=Borel&family=Josefin+Sans:wght@400&family=Roboto:wght@300&display=swap');

:root {
  --white: white;
  --black: black;
}

.theme1 {
  --primary-color: #12263aff;
  --secondary-color: #06bcc1ff;
  --third-color: #c5d8d1ff;
  --fourth-color: #f4edeaff;
  --fifth-color: #f4d1aeff;
  --bg-image: url(/public/images/dark.jpg)
}

.theme2 {
  --primary-color: #3c153bff;
  --secondary-color: #8b1e3fff;
  --third-color: #db4c40ff;
  --fourth-color: #89bd9eff;
  --fifth-color: #ebd4ac;
  --bg-image: url(/public/images/dark.jpg)
}

.theme3 {
  --primary-color: #e0e0e2ff;
  --secondary-color: #81d2c7ff;
  --third-color: #b5bad0ff;
  --fourth-color: #304974;
  --fifth-color: #293947;
  --bg-image: url(/public/images/light.jpg)
}

.theme4 {
  --primary-color: #f0e7d8ff;
  --secondary-color: #ab9b96ff;
  --third-color: #a1674aff;
  --fourth-color: #ba6e6eff;
  --fifth-color: #a63a50ff;
  --bg-image: url(/public/images/light.jpg)
}

.my_primary_bg {
  background-color: var(--primary-color) !important;
}

.my_secondary_bg {
  background-color: var(--secondary-color) !important;
}

.my_third_bg {
  background-color: var(--third-color);
}

.my_fourth_bg {
  background-color: var(--fourth-color);
}

.my_fifth_bg {
  background-color: var(--fifth-color) !important;
}

.my_primary_color {
  color: var(--primary-color);
}

.my_secondary_color {
  color: var(--secondary-color);
}

.my_third_color {
  color: var(--third-color);
}

.my_fourth_color {
  color: var(--fourth-color);
}

.my_fifth_color {
  color: var(--fifth-color);
}




.sidebar .ps-sidebar-container {
  border-radius: 20px;
  background-color: var(--primary-color) !important;
  color: var(--fifth-color);
}

.ps-sidebar-root {
  border: none !important;
}

input,
select,
textarea {
  background: var(--secondary-color) !important;
  color: var(--fifth-color) !important;
}

.main .outline {
  background: transparent !important;
  color: var(--fifth-color) !important;
}

.main button {
  background-color: var(--fourth-color);
  color: var(--primary-color) !important;
}



input::placeholder,
textarea::placeholder {
  color: var(--white) !important;
}

body {
  font-size: 13px;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--fifth-color);
}

.main_div {
  /* border: 1px solid; */
  background-color: var(--primary-color);
}

.lable {
  font-size: 10px;
  position: relative;
  top: 9px;
  left: 10px;
  background-color: var(--secondary-color);
  padding: 2px 6px;
  border-radius: 8px;
}

.form-control:focus {
  /* border: none; */
  box-shadow: none;
}

.main_bg {
  background: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
}

.themeSelector {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px;
  border-radius: 13px;
  background-color: lightblue;
}

.themeSelector button {
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  border: none;
}


.themeSelector button:nth-child(1) {
  background: linear-gradient(#12263aff, #c5d8d1ff, #06bcc1ff);
}

.themeSelector button:nth-child(2) {
  background: linear-gradient(#3c153bff, #ebd4ac, #db4c40ff);
}

.themeSelector button:nth-child(3) {
  background: linear-gradient(#e0e0e2ff, #e0e0e2ff, #293947, #81d2c7ff);
}

.themeSelector button:nth-child(4) {
  background: linear-gradient(#ab9b96ff, #e0e0e2ff, #ba6e6eff, #a63a50ff);
}

.add_note_top {
  color: var(--fourth-color);
}

.add_note_top:hover {
  color: var(--fifth-color);
}

.activeTab {
  border: 1px dashed black;
}

.active_sidebar {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
}

.view_icon {
  color: var(--fifth-color);
  transition: all 0.5s;
}

.view_icon:hover {
  background-color: var(--fourth-color);
  color: var(--primary-color);
}



.active_view_icon {
  background-color: var(--fifth-color);
  color: var(--primary-color);
}

table,
td,
th {
  color: var(--fifth-color) !important;
  border: 1px solid var(--secondary-color) !important;
}

table {}