@import url('https://fonts.googleapis.com/css2?family=Borel&family=Josefin+Sans:wght@400&family=Roboto:wght@300&display=swap');

body {
  font-family: 'Borel', cursive;
  font-family: 'Josefin Sans', sans-serif;

  /* font-family: 'Roboto', sans-serif; */
}

.alert {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}

.alert div {
  width: fit-content;
}

.form-validation {
  background: url('/public/images/pexels-moose-photos-1037992.jpg') center;
}

.form-validation .my-form {
  backdrop-filter: blur(8px);
}

.form-validation label {
  font-size: 12px;
  color: #000000;
  background: linear-gradient(#c6e9e3, white);
  /* background: ; */
  padding: 5px 15px;
  border-radius: 5px 5px 0 0;
}

.form-validation input {
  font-size: 12px;
  padding: 10px 15px;
  border: none;
  border-top-left-radius: 0;
}

.form-validation input::placeholder {
  color: #b1b1b1;
}

.form-validation input:focus {
  border: none;
  box-shadow: none;
}

.form-validation .my_err {
  font-size: 12px;
  color: red;
  font-weight: 100 !important;
  margin: 0;
}